:host {
  display: block;

  .page-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .gf-table {
    min-width: 100%;

    .mat-mdc-row,
    .mat-mdc-header-row {
      width: 100%;
    }
  }
}
